<div id="app">
  <h2>Website 2</h2>
  <div>
    <p>
      Access Token: <br />
      <textarea cols="100" rows="10" readOnly>{{
        loginState?.accessToken | json
      }}</textarea>
    </p>
    <p>
      Access Token Info:<br />
      <textarea v-if="loginState" cols="100" rows="15" readOnly>{{
        loginState?.parsedAccessToken | json
      }}</textarea>
    </p>
    <p>
      Expire At: <code>{{ loginState?.expireAt }}</code>
    </p>
    <div>
      <button (click)="getUserInfo()">getUserInfo</button>
      <p>
        userInfo: <textarea cols="100" rows="15" readOnly>{{ userInfo }}</textarea>
      </p>
    </div>
    <button (click)="logoutWithRedirect()">Logout With Redirect</button>
  </div>
</div>
